#apppage .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    /* background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%); */
  }
  
  .navbar{
    background-color: #1d367d !important;
  }
  .top-nav-collapse{
    background-color: #1d367d !important;
  }
  #apppage .view {
    background-image: url('../resources/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #apppage h6 {
    line-height: 1.7;
  }
  
  #apppage .navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  
  #apppage .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #apppage .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  footer.page-footer .footer-copyright,
  .mdb-color.lighten-2 {
    background-color: #1d367d !important;
    color: #ffff !important;
  }
  footer.page-footer a{
    color:#ffff !important;
  }

  .divider{
    border-top: 4px solid rgba(0,0,0,.1);
    width: 30px;
  }

  .section-divider{
    border-top: 4px solid rgba(0,0,0,.1);
    width: 30%;
    background-color: #1d367d;
  }

  .titleWelcome{
      font-size: 12px;
  }

  .maintitle{
    font-size: 5rem;
  }